@{
    Layout = "~/Views/Shared/_JoinLayout.cshtml";
}


<div class="container">
    <div class="desc">
        <p class="title service_expert"><em>전문가회원 서비스</em></p>
        <p class="caption">BizOneShot의 전문가 서비스를 통해 각 분야별로 체계적인 업무관리를 할 수 있습니다. </p>
    </div><!--desc//-->

    <div class="box_red">
        <div class="box_red_top"></div>
        <div class="box_red_mid">
            <div class="desc_red p_50">
                <p>전문가 서비스 메뉴는 세무회계, 법무, 노무, 특허, 마케팅 분야의 전문가들을 위한 것으로 전문가들은 본 서비스를 통해 기업에게 보다 효율적으로 전문적인 <br>지원을 해줄 수 있습니다. </p>
                <p>각 전문가가 관리하는 기업을 한번에 확인할 수 있고,  관리하는 기업의 현황을 살펴볼 수 있습니다. 온라인상에서 문의답변이 가능합니다. </p>
                <p>로그인 후 멘토 서비스를 이용하실 수 있습니다.</p>
            </div>
        </div>
        <div class="box_red_bot"></div>
    </div><!--box_red//-->
</div><!--container//-->
<div class="btnwrap center">
    <a href="@Url.Action("Index","Home",new { area= "" })"><img src="~/images/bt_login_login.png" class="" /></a>
</div>