@{
    Layout = "~/Views/Shared/_JoinLayout.cshtml";
}

<div class="container">
    <div class="desc">
        <p class="title service_mento"><em>멘토회원 서비스</em></p>
        <p class="caption">BizOneShot의 멘토 서비스를 통해 체계적으로 멘토링 업무를 관리할 수 있습니다.</p>
    </div><!--desc//-->

    <div class="box_red">
        <div class="box_red_top"></div>
        <div class="box_red_mid">
            <div class="desc_red p_50">
                <p>멘토 서비스는 기업담당 멘토를 위한 것으로 멘토들은 본 서비스를 통해 멘토링 업무를 체계적으로 관리할 수 있습니다.</p>
                <p>웹에서 멘토링 일지를 직접 입력할 수 있고, 본인의 멘토링 현황도 한 눈에 볼 수 있습니다.</p>
                <p>담당 기업의 기초경영역량을 진단하고 보고서를 작성하는 업무도 웹에서 편리하게 진행할 수 있습니다.</p>
                <p>로그인 후 멘토 서비스를 이용하실 수 있습니다.</p>
            </div>
        </div>
        <div class="box_red_bot"></div>
    </div><!--box_red//-->
</div><!--container//-->
<div class="btnwrap center">
    <a href="@Url.Action("Index","Home",new { area= "" })"><img src="~/images/bt_login_login.png" class="" /></a>
</div>
