@{
    Layout = "~/Views/Shared/_JoinLayout.cshtml";
}

<div class="container">
    <div class="desc">
        <p class="title join"><em>회원가입</em></p>
    </div><!--desc//-->

    <div class="joinstep">
        <p class="accountant03"><em>가입완료</em></p>
    </div>
    <div class="join_success_box">
        <p class="red">축하 드립니다!<br>기업회원 가입이 성공적으로 이루어졌습니다.</p><br>
        <p>로그인 하셔서 다양한 서비스를 편리하게 활용해 보세요.</p>
    </div><!--join_success_box//-->
</div><!--container//-->
<div class="btnwrap center">
    <input type="button" class="login2" value="로그인하기" onclick="location.href = '@Url.Action("Login", "Home")    ';"><input type="button" class="biz_useguide" value="기업회원 이용안내 보기" onclick="    location.href = '@Url.Action("CompanyGuide","Cs")    ';" />
</div>


