<div class="footerWrap">
    <div class="footer">
        <a href=""><img src="~/images/bi_main.png" class="float_right" /></a>
        <div class="address">
            <span class="bold">(주) 스마트비즈온</span>
            <span class="footline">|</span>
            강원도 춘천시 강원대학길 1 (효자동, 강원대학교 보듬관 1205호)
            <span class="footline">|</span>
            대표이사  김태진
            <span class="footline">|</span>
            통신판매업 신고번호 강원춘천-0049
            <br />

            사업자등록번호  221-81-44661
            <span class="footline">|</span>
            <span class="bold">개인정보취급방침</span>
        </div>
        <div class="copyright">Copyright ⓒ 2015 Smartbizon Corp. All rights reserved.</div>

    </div>
</div><!--container+footwrap//-->
	</div><!--Wrapper//-->

