.loginDiv {
    width: 50%;
    height: 200px;
    text-align: center;
    margin: 0 auto;
}
.wrapper {
    margin-top: 100px;
    min-width:1240px;
}

.lbl {
    color: #FF6E06;
    font-style:italic;
}

table {
    width: 342px;
    margin: auto;
    text-align: center;
    color: white;
    border: 1px solid;
    border-color: white;
    background-color:#05BACB;
    box-shadow: 1px 1px 3px 3px lightgrey;
}

#img {
    width: 170px;
    height: 53px;
    float: left;
    background-image:url("img/logo.png");
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-position:center;
    margin:20px 90px;
}

.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #05BACB;
  padding: 3px 8px 3px 8px;
  border: solid #ffffff 1px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #999999;
  font-size: 12px;
  background: #05BACB;
  padding: 3px 8px 3px 8px;
  border: solid #999999 1px;
  text-decoration: none;
  cursor: pointer;
}

.input {
    width:80%;
}