@model BizOneShot.Light.Models.ViewModels.ChangePasswordViewModel
@{
    Layout = "~/Views/Shared/_JoinLayout.cshtml";
}
<script type="text/javascript">
var numEng = /[0-9]|[a-z]|[A-Z]/;
var onlyNum = /[0-9]/;
$(document).ready(function () {

    //비밀번호 규칙
    //$("#LOGIN_PW, #loginPwConfirm").bind('keyup', function (event) {
    //    $(this).val($(this).val().replace(/[^a-zA-Z0-9~!@@#$%^&*()]/gi, ""));
    //});

	/* 로그인 함수 */
    $("#btn_loginConfirm").click(function () {
		if(!userValidate()) {
			return false;
		}

		if (!confirm("패스워드를 변경하시겠습니까?")) {
		    return false;
		}


		$.ajax({
		    type: "post",
		    url: '@Url.Action("UpdateLoginPassword", "Home")',
		    dataType: "json",
		    data: $('#passwordResetForm').serialize(),
		    success: function (data) {
		        if (data.result == true) {
		            window.location = '@Url.Action("ResetPasswordComplete","Home")';
		        }
		    },
		    fail: function (error) {
		        alert('error :' + error.responseText);
		    }
    });


    });

	/* 개인회원 로그인 전송 파라미터 검증 함수 */
	function userValidate() {

	    var loginPw = $.trim($("#LOGIN_PW").val());
	    if ((loginPw.length < 9) || (loginPw.length > 12)) {
	        alert('비밀번호는 공백 없이 영문+숫자 9~12자이어야 합니다');
	        return false;
	    }


		if ($("#LOGIN_PW").val() != $("#loginPwConfirm").val()) {
		    alert("설정한 비밀번호가 같지 않습니다.");
		    $("#loginPwConfirm").focus();
		    return false;
		}
		return true;
	}
});
</script>

<div class="container">
    <div class="desc">
        <p class="title pwsearch"><em>비밀번호 찾기</em></p>
        <p class="caption">본인확인절차가 모두 완료되었습니다. 새로운 비밀번호를 등록해 주시기 바랍니다.</p>
    </div><!--desc//-->
    <div class="box_red">
        <div class="box_red_top"></div>
        <div class="box_red_mid">
            <div class="desc_red">
                <div class="form_box">
                    <form id="passwordResetForm" name="passwordResetForm">
                        <p><span class="cate bold">ㆍ아이디</span>@Html.TextBoxFor(m => m.ID, new { @class = "w300", @id = "loginId", @name = "loginId", @readonly = "readonly" })</p>

                        <input type="hidden" id="LOGIN_ID" name="LOGIN_ID" />
                        <p><span class="cate bold">ㆍ새로운 비밀번호</span><input type="password" class="w300" id="LOGIN_PW" name="LOGIN_PW"></p>
                    </form>
                    <p><span class="cate bold">ㆍ비밀번호 확인</span><input type="password" class="w300" id="loginPwConfirm" name="loginPwConfirm"></p>
                </div>
                <div class="space40"></div>
                <div class="line"></div>
                <div class="space"></div>
                <p class="bullet">영문, 숫자, 특수문자를 함께 사용하면 (9자 이상 12자 이하)보다 안전합니다.</p>
                <p class="bullet">다른 사이트와 다른 <span class="bold">Biz oneshot만의 비밀번호</span>를 만들어 주세요.</p>
            </div><!--desc_red//-->
        </div>
        <div class="box_red_bot"></div>
    </div><!--box_red//-->
    <div class="btnwrap center">
        <input type="submit" class="login_confirm" id="btn_loginConfirm" name="btn_loginConfirm">
    </div>
</div><!--container//-->