@{
    Layout = "~/Views/Shared/_JoinLayout.cshtml";
}


<div class="container">
    <div class="desc">
        <p class="title pwset"><em>비밀번호 설정완료</em></p>
    </div><!--desc//-->
    <div class="box_red">
        <div class="box_red_top"></div>
        <div class="box_red_mid">
            <div class="desc_red">
                <p class="title"><label id="USR_NM" name="USR_NM"></label>님, 새로운 비밀번호 등록이 완료 되었습니다.</p>
                <p class="caption">비밀번호를 변경하면 기존 로그인 계정은 <span class="blue bold">로그아웃</span>됩니다.</p>
                <p><a href="@Url.Action("Index","Home")"><input type="button" class="login_login" value="로그인하기" id="btn_loginUser" name="btn_loginUser"></a></p>
            </div>
        </div>
        <div class="box_red_bot"></div>
    </div><!--box_red//-->

</div>