@model LoginViewModel

@{
    Layout = "~/Views/Shared/_JoinLayout.cshtml";
}
<script type="text/javascript">
$(document).ready(function () {
	/* 인증하기 함수 */
	$("#btn_Cert").click(function(){
		if(!userValidate()) {
			return false;
		}

		if (checkCertificate($('#usrNo').val()) == true) {
		    $.ajax({
		        type: "post",
		        url: '@Url.Action("SearchPassword", "Home")',
                    dataType: "json",
                    data: {
                        USR_NO: $('#usrNo').val(),
                        LOGIN_ID: $('#loginId').val()
                    },
                    success: function (data) {
                        //console.log(data);
                        if (data.result == true) {
                            window.location = '@Url.Action("ResetPassword", "Home")' + "?loginId=" + $('#loginId').val();
                        }
                        else {
                            $('#loginId').focus();
                            alert("없는 아이디 또는 사업자번호에 속한 아이디가 아닙니다");
                        }
                    },
                    fail: function (error) {
                        alert('error :' + error.responseText);
                    }
                });
            }
            else {
                return false;
		}
    });

	/* 로그인 전송 파라미터 검증 함수 */
	function userValidate() {
		var loginId = $("#loginId");
		if( $.trim(loginId.val()).length == 0 ) {
			alert("아이디를 입력해주세요.");
			loginId.focus();
			return false;
		}

		var USR_NO = $("#usrNo");
		if ($.trim(USR_NO.val()).length == 0) {
		    alert("사업자번호를 입력해주세요.");
		    USR_NO.focus();
		    return false;
		}
		return true;
	}
});
</script>
@Scripts.Render("~/bundles/cert")
<div class="container">
    <div class="desc">
        <p class="title pwsearch"><em>비밀번호 찾기</em></p>
        <p class="caption">비밀번호를 찾고자 하는 아이디를 입력해 주세요</p>
    </div><!--desc//-->
    <div class="box_red">
        <div class="box_red_top"></div>
        <div class="box_red_mid">
            <div class="desc_red">
                <p class="title">* 비밀번호 찾기는 기업회원만 사용이 가능합니다.</p>
                <p class="caption"></p>

                <p class="title">공인인증서 인증으로 찾기</p>
                <p class="caption">공인인증서 인증 후에 공인인증서 사업자번호로 비밀번호를 찾습니다.</p>
                <div class="form_box_gray">
                    <p><span class="cate bold">아이디 입력</span>@Html.TextBoxFor(m => m.ID, new { @class = "w240", @id="loginId", @name="loginId" })</p>
                    <br />
                    <p><span class="cate bold">사업자번호 입력</span><input type="text" class="w240" id="usrNo" name="usrNo"></p>
                </div>
                <p><input type="submit" class="login_cirtify" value="인증하기" id="btn_Cert" name="btn_Cert"></p>
            </div>
        </div>
        <div class="box_red_bot"></div>
    </div><!--box_red//-->

</div>